// _base.scss

// Background color utility classes
.bg-sobi-yellow {
  background-color: $sobi-yellow;
}
.bg-sobi-orange {
  background-color: $sobi-orange;
}
.bg-sobi-blue {
  background-color: $sobi-blue;
}
.bg-sobi-green {
  background-color: $sobi-green;
}
.bg-sobi-dark-grey {
  background-color: $sobi-dark-grey;
}
.bg-sobi-grey-tint-20 {
  background-color: $sobi-grey-tint-20;
}
.bg-sobi-grey-tint-40 {
  background-color: $sobi-grey-tint-40;
}

// Font color utility classes
.font-sobi-yellow {
  color: $sobi-yellow;
}
.font-sobi-orange {
  color: $sobi-orange;
}
.font-sobi-blue {
  color: $sobi-blue;
}
.font-sobi-dark-grey {
  color: $sobi-dark-grey;
}
.font-sobi-grey-tint-20 {
  color: $sobi-grey-tint-20;
}
.font-sobi-grey-tint-40 {
  color: $sobi-grey-tint-40;
}


// Font family utility classes
.text-center {
  text-align: center;
}
.text-left {
  text-align: left;
}
.text-right {
  text-align: right;
}
.text-uppercase {
  text-transform: uppercase;
}
.text-lowercase {
  text-transform: lowercase;
}
.text-capitalize {
  text-transform: capitalize;
}
.text-bold {
  font-weight: bold;
}
.text-italic {
  font-style: italic;
}
.text-underline {
  text-decoration: underline;
}
.text-decoration-none {
  text-decoration: none;
}


// Flexbox utility classes
.display-flex {
  display: flex;
}
.align-items-center {
  align-items: center;
}
.justify-content-center {
  justify-content: center;
}



