// filepath: /Users/zuber/Documents/Projects/FusionSolutions/Sobi/Kineret/EULAR Infographic/build/12-06-2025/css/styles/partials/_layout.scss

// Layout styles
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    font-family: 'Montserrat, sans-serif';

}

.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    padding: 30px 0;

    .container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 10px 0;

        @media (min-width: $breakpoint-desktop) {
            flex-direction: row;
            //justify-content: space-between;
        }

        .column {
            width: 100%;

            @media (min-width: $breakpoint-desktop) {
                & {
                    @include column-width("full");
                }

                &.column-half {
                    @include column-width("1/2");
                }

                &.column-third {
                    @include column-width("1/3");
                }

                &.column-quarter {
                    @include column-width("1/4");
                }
            }
        }
    }
}


