.quick-links {
    background: linear-gradient(to right, $sobi-yellow, $sobi-orange);
    padding: 1.5rem;
    padding-bottom: 3rem;
    color: $white;
    margin: 40px 0;
    position:relative;


    &::before {
    content: '';
    position: absolute;
    top: 29px; // half the circle's height (if circle is 24px)
    left: 0%;
    transform: translateX(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: $sobi-grey-tint-20; // or your page background color for a cutout effect
    z-index: 2;
    }

    h2 {
        margin: 30px;
    }

    .quick-links-list {
        position: relative;
        list-style: none;
        padding: 0;
        margin: 0;

        li {
            font-weight: 700;
            padding-left: 2rem;
            margin-bottom: 1rem;
            cursor: pointer;
            position: relative;
            transition: background 0.2s;

            .chevron {
                position: absolute;
                left: 0;
                top: 50%;
                transform: translateY(-50%);
                opacity: 0;
                transition: opacity 0.2s;
                pointer-events: none;
            }

            &:hover .chevron,
            &:focus .chevron {
                opacity: 1;
            }

            a {
                color: $white;
                text-decoration: none;
            }
        }
    }
}