// _variables.scss

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

// Define color variables
$sobi-yellow: #FCB813;
$sobi-orange: #EB9200;
$sobi-blue: #2D5E77;
$sobi-green: #4AA1A6;
$sobi-dark-grey: #585854;
$sobi-grey-tint-20: #F7F7F7;
$sobi-grey-tint-40: #F1F1F1;
$white: #FFFFFF;

// Define font families
$font-stack: 'Montserrat', sans-serif;
$font-bold: 'Montserrat', sans-serif;
$font-regular: 'Montserrat', sans-serif;

// Define breakpoint variables for mobile-first approach
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;



// Define column widths for responsive design
$column-widths: (
  "1/2": 46%, 
  "1/3": 33.33%, 
  "1/4": 25%, 
  "full": 100%
);